@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.ttf"); /* IE9*/
  src: url("../fonts/ProductSans-Regular.ttf") format("embedded-opentype"),
    url("../fonts/ProductSans-Regular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans";
}

.container {
  position: relative;

  height: 100vh;
  width: 100vw;
  padding: 135px 44px 10px;

  background: rgba(41, 28, 125, 0.9);

  z-index: 10;

  .lendme-logo {
    width: 100%;
    display: flex;
    justify-content: center;

    z-index: 2;
    img {
      position: absolute;
      top: 38px;

      z-index: 1;
    }
  }

  &__element {
    height: 537px;
    width: 100%;
    padding: 68px 7% 91px 7%;

    border-radius: 10px;

    background-color: #fff;

    &-text {
      display: flex;
      flex-direction: column;

      margin-bottom: 40px;

      text-align: center;
      font-weight: 400;

      h2 {
        margin-bottom: 6px;

        font-size: 26px;
        line-height: 32px;
        color: #3a2a7a;
      }

      p {
        color: rgba(57, 37, 95, 0.7);
        font-size: 19px;
      }
    }

    &-select {
      .each {
        position: relative;
        display: flex;

        margin-bottom: 22px;
        padding: 18px 0px 17px 25px;
        height: 55px;
        width: 100%;

        background: #ffffff;
        // border: 1px solid rgba(179, 169, 197, 0.1);
        box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
        border-radius: 5px;

        font-size: 18px;
        color: #4c4079;

        &:focus {
          border: none;
          box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
        }

        input[type="radio"] {
          position: absolute;
          visibility: hidden;
        }

        .check {
          display: block;
          position: absolute;
          border: 2px solid #aaaaaa;
          border-radius: 100%;
          height: 15px;
          width: 15px;
          top: 22px;
          left: 20px;
          z-index: 5;

          &::before {
            display: block;
            position: absolute;
            content: "";
            border-radius: 100%;
            height: 15px;
            width: 15px;
            top: 5px;
            left: 5px;
            margin: auto;
          }
        }

        label {
          margin-left: 23px;

          color: #4c4079;
          font-weight: 700;
        }
      }

      .line {
        width: 100%;
        height: 1px;
        margin-bottom: 28px;

        background: rgba(78, 2, 224, 0.2);
      }
    }

    &-continue {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 60px;
      margin-top: 63px;

      input {
        width: 100%;
        background: #5f22cb;
        color: #fff;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

input[type="radio"]:checked ~ .check {
  background: #01ae13;
  border: 2px solid #01ae13;
}

input[type="radio"]:checked ~ .check::before {
  position: absolute;
  top: 3px;
  left: 1.3px;
  background-repeat: no-repeat;
  background-image: url("../assets/check.svg");
}

input[type="radio"]:checked ~ label {
  color: rgb(76, 64, 121);
}

.flex {
  display: flex;
}
