@charset "UTF-8";
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.ttf");
  /* IE9*/
  src: url("../fonts/ProductSans-Regular.ttf") format("embedded-opentype"), url("../fonts/ProductSans-Regular.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Product Sans";
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 135px 44px 10px;
  background: rgba(41, 28, 125, 0.9);
  z-index: 10;
}

.container .lendme-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.container .lendme-logo img {
  position: absolute;
  top: 38px;
  z-index: 1;
}

.container__element {
  height: 537px;
  width: 100%;
  padding: 68px 7% 91px 7%;
  border-radius: 10px;
  background-color: #fff;
}

.container__element-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
}

.container__element-text h2 {
  margin-bottom: 6px;
  font-size: 26px;
  line-height: 32px;
  color: #3a2a7a;
}

.container__element-text p {
  color: rgba(57, 37, 95, 0.7);
  font-size: 19px;
}

.container__element-select .each {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  padding: 18px 0px 17px 25px;
  height: 55px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
          box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
  border-radius: 5px;
  font-size: 18px;
  color: #4c4079;
}

.container__element-select .each:focus {
  border: none;
  -webkit-box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
          box-shadow: 0px 1px 8px rgba(18, 78, 233, 0.12);
}

.container__element-select .each input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.container__element-select .each .check {
  display: block;
  position: absolute;
  border: 2px solid #aaaaaa;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 22px;
  left: 20px;
  z-index: 5;
}

.container__element-select .each .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
}

.container__element-select .each label {
  margin-left: 23px;
  color: #4c4079;
  font-weight: 700;
}

.container__element-select .line {
  width: 100%;
  height: 1px;
  margin-bottom: 28px;
  background: rgba(78, 2, 224, 0.2);
}

.container__element-continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin-top: 63px;
}

.container__element-continue input {
  width: 100%;
  background: #5f22cb;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}

input[type="radio"]:checked ~ .check {
  background: #01ae13;
  border: 2px solid #01ae13;
}

input[type="radio"]:checked ~ .check::before {
  position: absolute;
  top: 3px;
  left: 1.3px;
  background-repeat: no-repeat;
  background-image: url("../assets/check.svg");
}

input[type="radio"]:checked ~ label {
  color: #4c4079;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */